<!doctype html>
<html>
  <head>
    <title>Confidence</title>
  </head>
  <body>
    <h1>Confidence</h1>
    <form method="post">
      <p>How confident were you in your answer?</p>
      <select name="confidence" required>
        <option value="">Select</option>
        <option value="Not confident">Not confident</option>
        <option value="Fairly Confident">Fairly Confident</option>
        <option value="100% Confident">100% Confident</option>
      </select>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>